{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endfor%}

  <center class="mt-5">
    <div class="h1">welcome to contact us website</div>
    <button class="btn btn-lg btn-primary mt-2">Set your contact now</button>
  </center>
{% endblock %}
